body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html{
  background-color: #c1cacf;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.regErr {

  display: none;
  padding: 10px;
}

.form{
  font-size: 18px;
  background-color: rgb(226, 226, 226);
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 30px;
  max-width: 330px;
  box-shadow: 1px 5px 10px 0px rgba(135, 135, 135, 0.5);
}

.form button{
  width: 100%;
  font-size: 19px;
  padding: 10px 6px;
  background-color: rgb(190, 199, 207);
  border: none;
  color: rgb(55, 55, 55);
  border-radius: 4px;
  margin-top: 20px;
  font-weight: 100;
  cursor: pointer;
}


.form .bottom{
  margin-top: 30px;
}

.form input{

  padding: 0.2em;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #8b8b8b;
  width: 100%;
  padding: 10px;
  font-size: 17px;
  padding-left: 3px;
  margin-bottom: 5px
}

.form h1{
  font-weight: 100;

}

.form input:focus{
  outline: none;
  border-bottom: 1px solid rgb(51, 51, 220);
}



.homeCont{
  height: 100vh;
  padding-top: 30px;
}

.homeDash{
font-size: 18px;
  background-color: rgb(226, 226, 226);
  margin: auto;
  padding: 30px;
  box-shadow: 1px 5px 10px 0px rgba(135, 135, 135, 0.5);
  max-width: 500px;
  min-height: 200px;

}

.dashRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addBill{
  width: 100%;
  padding: 10px 0px;
  background-color: rgb(210, 210, 210);
  border: none;
  border-bottom: 3px solid rgb(98, 98, 98);
  font-size: 15px;
  letter-spacing: 2px;
  color: #282828;
  cursor: pointer;
  margin-top: 10px;
}


.dashTop{
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 20px;
}

.dashRow{
  cursor: pointer;
}

.dashBottom .name:hover, .dashBottom .date:hover{
  text-decoration: underline;
  color: blue;


}

.dashInp{
  padding: 6px;
}

.dashInp::-webkit-scrollbar {
  width: 12px;
  background-color:transparent
}

.dashInp::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.dashInp::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

.dashInp{
    height: 200px;
      overflow: scroll;

}

.firstCont{
  background-color: transparent;
    box-shadow: 10px 10px 10px rgba(140, 140, 140, 0.1);
    
}

.navCont{
  max-width: 1700px;
  margin: auto;
  display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    

}

.rightPannel div:hover,
.leftPannel div:hover{
  /* background-color: rgb(177, 182, 188); */
  transform: scale(1.09);
}

.navCont .rightPannel{
  
  display: flex;
  
}

.rightPannel div, .leftPannel div{
    border-radius: 2px;
  -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  padding: 10px;cursor: pointer;
  margin: 3px;
}

.invoiceTop{
  font-size: 16px;
  font-weight: 300;
}

.midLeft{
  justify-content: start;

  padding: 33px;
  margin-right: 4px;
  letter-spacing: 1px;
 font-weight: 200;
}


.invoiceMiddle{
  display: flex;
  justify-content: end;

}

.midRight div:nth-child(1), .midRight div:nth-child(3), .midRight div:nth-child(5),.midRight div:nth-child(7){
  display: flex;
  align-items: center;
  
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
  border: .1px solid rgb(134, 134, 134);
  background-color: #c7c4c4;
}

.midRight div:nth-child(2),
.midRight div:nth-child(4),
.midRight div:nth-child(6),.midRight div:nth-child(8) {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
  border: .1px solid rgb(134, 134, 134);
}

.midRight{
  display: grid;
    grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 30px;
      gap: 2px;
}
